.overview-container {
    padding: 20px;
    background-color: #f0f0f0;
}

.blog-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-post {
    width: 100%;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-author {
    font-size: 1.1rem;
    font-weight: normal;
    color: #555;
}

.blog-interaction {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    color: #aaa
}

.blog-post a, .blog-post a:visited {
    text-decoration: none;
    color: limegreen;
}